---
layout: page
title: Projects
---
<!-- projects -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
            <div class="dropdown-menu btn-group-toggle">
              {% for label in site.data.settings.projects-label %}
              <label class="btn btn-sm dropdown-item">
                <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
              </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% assign all-projects = site.data.settings.projects-home-items | concat: site.data.settings.projects-items %}
      {% for item in all-projects %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for projects in item.projects-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ projects.type }}&quot;{% endfor %}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="projects-image" class="img-fluid rounded w-100 d-block"
          style="position: relative;">

          <div class="hover-overlay">
            <div class="hover-content">
              <!-- <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a> -->
            </div>
          </div>
        </div>
          
        <div class="card-header">
          <p class="card-text">{% assign curlyend = '}' %}{{ item.description | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /projects -->